{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; {{ page.title|striptags }}{% endblock %}
{% block og_title %}{{ page.title|striptags|forceescape }}{% endblock %}
{% block og_description %}{{ page.summary|default(page.description, true)|striptags|truncate(200)|forceescape }}{% endblock %}
{% block og_url %}{{ SITEURL }}/{{ page.url }}{% endblock %}
{% block canonical_url %}{{ SITEURL }}/{{ page.url }}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ self.og_description() }}" />{% endblock %}
{% block content %}
<div class="article-hero">
	<div class="article-hero-inner">
		<a class="backlink" href="{{ SITEURL }}/">&larr; Archive</a>
		<div class="article-hero-head">
			<h1 class="article-title">{{ page.title }}</h1>
		</div>
	</div>
</div>
<div class="article-wrap">
	<div class="article-grid">
		<article>
			<div class="entry-content">
				{{ page.content }}
			</div>
		</article>
	</div>
</div>
{% endblock %}
