{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; {{ page.title|striptags }}{% endblock %}
{% block og_title %}{{ page.title|striptags|forceescape }}{% endblock %}
{% block og_description %}{{ page.summary|default(page.description, true)|striptags|truncate(200)|forceescape }}{% endblock %}
{% block og_url %}{{ SITEURL }}/{{ page.url }}{% endblock %}
{% block canonical_url %}{{ SITEURL }}/{{ page.url }}{% endblock %}
{% block meta_description %}<meta name="description" content="{{ self.og_description() }}" />{% endblock %}
{% block content %}
<div class="page type-page status-publish hentry" id="post">
	<div class="entry-meta">
		<span class="cat-links"></span>
	</div> <!-- /#entry-meta -->
	<div class="main">
		<h2 class="entry-title"><a href="{{ SITEURL }}/{{ page.url }}" title="Permalink to {{ page.title|striptags }}" rel="bookmark">{{ page.title }}</a></h2>
		<div class="entry-content">
			{{ page.content }}
		</div> <!-- /#entry-content -->
	</div> <!-- /#main -->
</div> <!-- /#post -->
{% endblock %}


